:root {
  --backgroundbackground-4: rgba(255, 255, 255, 1);
  --textparagraph: rgba(46, 79, 33, 1);
  --texton-accent-1: rgba(255, 255, 255, 1);
  --texton-accent-2: rgba(80, 99, 73, 1);
  --texton-accent-4: rgba(213, 228, 208, 1);
  --accentaccent-1: rgba(210, 248, 220, 1);
  --backgroundbackground-3: rgba(46, 79, 33, 1);
  --backgroundbackground-5: rgba(244, 247, 245, 1);
  --dividerdivider-2: rgba(199, 199, 199, 1);
  --backgroundbackground-6: rgba(210, 248, 220, 1);
  --label-1-font-family: "Work Sans", Helvetica;
  --label-1-font-weight: 500;
  --label-1-font-size: 12px;
  --label-1-letter-spacing: -0.54px;
  --label-1-line-height: 110.00000238418579%;
  --label-1-font-style: normal;
  --heading-1-font-family: "Work Sans", Helvetica;
  --heading-1-font-weight: 400;
  --heading-1-font-size: 80px;
  --heading-1-letter-spacing: -6.4px;
  --heading-1-line-height: 100%;
  --heading-1-font-style: normal;
  --paragraph-font-family: "Work Sans", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 16px;
  --paragraph-letter-spacing: -0.72px;
  --paragraph-line-height: 110.00000238418579%;
  --paragraph-font-style: normal;
  --heading-2-font-family: "Work Sans", Helvetica;
  --heading-2-font-weight: 400;
  --heading-2-font-size: 60px;
  --heading-2-letter-spacing: -4.2px;
  --heading-2-line-height: 104.99999523162842%;
  --heading-2-font-style: normal;
  --display-font-family: "Work Sans", Helvetica;
  --display-font-weight: 200;
  --display-font-size: 192.93479919433594px;
  --display-letter-spacing: -8.682065963745117px;
  --display-line-height: 104.99999523162842%;
  --display-font-style: normal;
  --heading-3-font-family: "Work Sans", Helvetica;
  --heading-3-font-weight: 400;
  --heading-3-font-size: 40px;
  --heading-3-letter-spacing: -1.8px;
  --heading-3-line-height: 104.99999523162842%;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Work Sans", Helvetica;
  --heading-4-font-weight: 400;
  --heading-4-font-size: 30px;
  --heading-4-letter-spacing: -1.35px;
  --heading-4-line-height: 104.99999523162842%;
  --heading-4-font-style: normal;
}
